# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/
jspm_packages/

# Environment variables
.env
.env.test
.env.production
.env.local

# Optional REPL history
.node_repl_history

# Build and Dist output (for your React frontend next phase)
build/
dist/
.next/
out/

# OS/Mac specific 
.DS_Store
.AppleDouble
.LSOverride

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
